<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Get a Job: Job Board</title>
  <!-- Font Awesome Link -->
  <script src="https://kit.fontawesome.com/2828f7885a.js"
    integrity="sha384-WAsFbnLEQcpCk8lM1UTWesAf5rGTCvb2Y+8LvyjAAcxK1c3s5c0L+SYOgxvc6PWG"
    crossorigin="anonymous"></script>
  <!-- Bulma Link -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <!-- CSS Link -->
  <link rel="stylesheet" href="/css/style.css">
  <!-- Google Fonts Link -->
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&family=Source+Sans+Pro&display=swap"
    rel="stylesheet">
</head>

<body>

  <!-- Start nav -->

  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <div class="navbar-start">
          <a href="/" class="navbar-item">Home</a>
          <a href="/" class="navbar-item">Post a Job</a>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field-is-grouped">
          <div class="buttons">
            <p class="control"></p>
           <!-- Conditionally render login or logout links -->
            {{#if logged_in}}
           <a href="/profile" class="button" id="profile">Profile</a>
           <a class="button" id="logout">Logout</a>
            {{else}}
            <a href="/login" class="button" id="login">Login</a>
            <a href="/signup" class="button" id="login">Signup</a>
            {{/if}}
          </div>
        </div>
      </div>
     </div>
  </nav>

  <main class="container container-fluid mt-5">
    {{{body}}}
  </main>

  <footer>
    {{!-- <div class="content has-text-centered">
      <p> Project coded by <strong>willCodeForFood</strong> view the project on <a
          href="https://github.com/btkerns96/get-a-job">GitHub</a>.</p>
    </div> --}}
  </footer>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

</body>

</html>