  <body style="background-color:deepskyblue ;text-align:center">
<div class="container text-center">
    <div class="row d-flexjustify-content-center">
        <div class="col ">
            <div class="card mx-auto" style="width: 18rem;" >
             <figure class="image is-128x200">
  <img src="https://media.istockphoto.com/id/1365543480/video/contact-us-concept.jpg?s=640x640&k=20&c=G16GzQ4uJKlITww2ArmKNB9UKb1-IT2eyJrUxkUmAIY=">
</figure>
                <div class="card-body">
                    <h5 class="card-t itle"> <strong>Contact Us</strong></h5>
                    <p class="card-text"> <strong>Office number: 📞 602-503-8087</strong></p>
                    <p class="card-text"> <strong>Email: Getajob@gmail.com</p></strong>
                    <p class="card-text"></p>
                    <a href="https://github.com/btkerns96/get-a-job.git" class="btn btn-primary">Github repository</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>