<section class="head is-white is-medium">
    <div class="head-body">
        <section class=“section”>
            <div class="container has-text-centered">
                <div class="columns">
                    <div class="column is-4 is-offset-4">
                        <h3 class="title has-text-white">Login</h3>
                        <hr class="login-hr">
                        <p class="subtitle has-text-white">Please login to proceed.</p>
                        <div class="box">
                            <form class="login-form">
                                <div class="mb-4">
                                    <input type="text" class="input" placeholder="Email" id="email-login">
                                </div>
                                <div class="mb-4">
                                    <input type="password" class="input" placeholder="Password" id="password-login">
                                </div>
                                <div class="form-group">
                                    <button class="button mt-3" type="submit">Login</button>
                                </div>
                                {{!-- <a class="button mt-3">Login</a> --}}
                            </form>
                        </div>
                        <div class="text-center">
                            <p>Don't have an account? <a href="/signup">Signup</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

<script src="./js/login.js"></script>