<section class="head is-white is-medium">
    <div class="head-body">
        <section class=“section”>
            <div class="container has-text-centered">
                <div class="columns">
                    <div class="column is-4 is-offset-4">
                        <h3 class="title has-text-white">Signup</h3>
                        <hr class="login-hr">
                        <p class="subtitle has-text-white">Please create an account to proceed.</p>
                            <div class="box">
                                <form action="#" class="signup-form">
                                    <div class="mb-4">
                                        <input type="text" class="input" placeholder="Name" id="name-signup">
                                    </div>
                                    <div class="mb-4">
                                        <input type="email" class="input" placeholder="Address" id="address-signup">
                                    </div>
                                    <div class="mb-4">
                                        <input type="text" class="input" placeholder="Phone Number" id="phone-signup">
                                    </div>
                                    <div class="mb-4">
                                        <input type="text" class="input" placeholder="Email" id="email-signup">
                                    </div>
                                    <div class="mb-4">
                                        <input type="password" class="input" placeholder="Password" id="password-signup">
                                    </div>
                                        <a class="button mt-3">Signup</a>
                                </form>
                            </div>
                                <p class="has-text-grey">
                                    <a href="/login" >Already have an account? Login</a>
                                </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

<script src="./js/signup.js"></script>